In [ ]:
!pip install pandas==0.25

Requirement already satisfied: pandas==0.25 in /usr/local/lib/python3.6/dist-packages (0.25.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas==0.25) (1.15.0)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
from IPython.core.display import display, HTML
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:,.2f}'.format
display(HTML("<style>.container{width : 98% !important;}</style>"))
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = [10,10]
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Import the datasets and libraries, check datatype, statistical summary, shape, null values or incorrect imputation.

In [2]:
from scipy import stats
from sklearn import metrics

In [3]:
data = pd.read_csv('/content/ML Case Study - Data.csv') #import datasets

In [4]:
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.60,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.50,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.00,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.70,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.00,2,0,0,0,0,0,1

In [5]:
data.info() #check datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [6]:
data.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,"5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00","5,000.00"
mean,"2,500.50",45.34,20.10,73.77,"93,152.50",2.40,1.94,1.88,56.50,0.10,0.10,0.06,0.60,0.29
std,"1,443.52",11.46,11.47,46.03,"2,121.85",1.15,1.75,0.84,101.71,0.29,0.31,0.24,0.49,0.46
min,1.00,23.00,-3.00,8.00,"9,307.00",1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"1,250.75",35.00,10.00,39.00,"91,911.00",1.00,0.70,1.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,"2,500.50",45.00,20.00,64.00,"93,437.00",2.00,1.50,2.00,0.00,0.00,0.00,0.00,1.00,0.00
75%,"3,750.25",55.00,30.00,98.00,"94,608.00",3.00,2.50,3.00,101.00,0.00,0.00,0.00,1.00,1.00
max,"5,000.00",67.00,43.00,224.00,"96,651.00",4.00,10.00,3.00,635.00,1.00,1.00,1.00,1.00,1.00

In [7]:
#EDA 
from pandas_profiling import ProfileReport
ProfileReport(data).to_file('EDA_milestone1.html')

TypeError: ignored

In [8]:
#shape of data
data.shape

(5000, 14)

In [9]:
#Suggests some Catagorical Varaibles in play
data.nunique()

ID                    5000
Age                     45
Experience              47
Income                 162
ZIP Code               467
Family                   4
CCAvg                  108
Education                3
Mortgage               347
Personal Loan            2
Securities Account       2
CD Account               2
Online                   2
CreditCard               2
dtype: int64

In [10]:
data.isnull().sum()  #No Null/Missing Values Found

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [11]:
data['ZIP Code'].nunique() #Number of unique in each column?
#data['ZIP Code'].unique()

467

In [12]:
(data['Mortgage']==0).sum() #Number of people with zero mortgage?

3462

In [13]:
(data['CCAvg']==0).sum() #Number of people with zero credit card spending per month

106

In [14]:
#Value counts of all categorical columns
for columns in ['Education','Personal Loan','Securities Account','CD Account','Online','CreditCard']:
  print(data[columns].value_counts())

1    2096
3    1501
2    1403
Name: Education, dtype: int64
0    4520
1     480
Name: Personal Loan, dtype: int64
0    4478
1     522
Name: Securities Account, dtype: int64
0    4698
1     302
Name: CD Account, dtype: int64
1    2984
0    2016
Name: Online, dtype: int64
0    3530
1    1470
Name: CreditCard, dtype: int64

In [15]:
sns.pairplot(data)

Getting Data Model Ready

In [16]:
data.drop(['ID','ZIP Code'], axis=1, inplace=True)

In [17]:
data.tail()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
4995,29,3,40,1,1.90,3,0,0,0,0,1,0
4996,30,4,15,4,0.40,1,85,0,0,0,1,0
4997,63,39,24,2,0.30,3,0,0,0,0,0,0
4998,65,40,49,3,0.50,2,0,0,0,0,1,0
4999,28,4,83,3,0.80,1,0,0,0,0,1,1

In [50]:
df_dummies0 = pd.get_dummies(data, columns=['Education'])   # One Hot Encoding of Categorical variable
#df_dummies1 = pd.get_dummies(df_dummies0, columns=['Securities Account','CD Account','Online','CreditCard'])
#No Significant difference was found by not including the categorical variables
print(df_dummies0.columns)

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Mortgage',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online',
       'CreditCard', 'Education_1', 'Education_2', 'Education_3'],
      dtype='object')

In [ ]:
#data[....].value_counts(normalize=True)
#data[....].fillna(0, inplace=True)

In [ ]:
#data.groupby(['Gender','loan',...])['CoapplicantIncome'].sum()

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import NearestNeighbors
from sklearn import naive_bayes
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [20]:
LR_model = LogisticRegression()
LR_model_ = LogisticRegression()
x = df_dummies0.drop('Personal Loan', axis = 1)
y = df_dummies0['Personal Loan']
#x_= df_dummies1.drop('Personal Loan', axis = 1)
#y_= df_dummies1['Personal Loan']

In [21]:
from sklearn.model_selection import train_test_split
XT, Xt, YT, Yt = train_test_split(x, y, test_size=0.30)   #Split the data into training and test set in the ratio of 70:30 respectively.
#X_T, X_t, Y_T, Y_t = train_test_split(x_, y_, test_size=0.30)
LR_model.fit(XT,YT)
#LR_model_.fit(X_T,Y_T)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
LR_model.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [23]:
yp = LR_model.predict(Xt)
#yp_ = LR_model_.predict(X_t)
print(yp)

[0 0 0 ... 0 0 0]

In [24]:
LR_model.score(XT,YT)

0.9551428571428572

In [25]:
#LR_model_.score(X_T,Y_T)

In [26]:
LR_model.score(Xt,Yt)

0.962

In [27]:
#LR_model_.score(X_t,Y_t)

In [28]:

for i in [0.00001,0.0001,0.001,0.01,0.1,1,10,100,1000,10000]:
  for j in ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']:
    M = LogisticRegression(C=i,solver=j)
    M.fit(XT,YT)
    print("{:12.5f},{:.2f},{:.2f} {}".format(i, M.score(XT,YT), M.score(Xt,Yt),j))

     0.00001,0.91,0.91 newton-cg
     0.00001,0.91,0.91 lbfgs
     0.00001,0.90,0.90 liblinear
     0.00001,0.90,0.90 sag
     0.00001,0.90,0.90 saga
     0.00010,0.91,0.91 newton-cg
     0.00010,0.91,0.91 lbfgs
     0.00010,0.90,0.90 liblinear
     0.00010,0.90,0.90 sag
     0.00010,0.90,0.90 saga
     0.00100,0.91,0.92 newton-cg
     0.00100,0.91,0.92 lbfgs
     0.00100,0.91,0.91 liblinear
     0.00100,0.91,0.91 sag
     0.00100,0.91,0.90 saga
     0.01000,0.94,0.94 newton-cg
     0.01000,0.93,0.93 lbfgs
     0.01000,0.93,0.93 liblinear
     0.01000,0.91,0.91 sag
     0.01000,0.91,0.91 saga
     0.10000,0.95,0.95 newton-cg
     0.10000,0.95,0.96 lbfgs
     0.10000,0.95,0.96 liblinear
     0.10000,0.91,0.91 sag
     0.10000,0.91,0.91 saga
     1.00000,0.96,0.96 newton-cg
     1.00000,0.96,0.96 lbfgs
     1.00000,0.96,0.96 liblinear
     1.00000,0.91,0.91 sag
     1.00000,0.91,0.91 saga
    10.00000,0.96,0.96 newton-cg
    10.00000,0.96,0.96 lbfgs
    10.00000,0.96,0.96 liblinear
    10.00000,0.91,0.91 sag
    10.00000,0.91,0.91 saga
   100.00000,0.96,0.96 newton-cg
   100.00000,0.96,0.96 lbfgs
   100.00000,0.96,0.96 liblinear
   100.00000,0.91,0.91 sag
   100.00000,0.91,0.91 saga
  1000.00000,0.96,0.96 newton-cg
  1000.00000,0.96,0.96 lbfgs
  1000.00000,0.96,0.96 liblinear
  1000.00000,0.91,0.91 sag
  1000.00000,0.91,0.91 saga
 10000.00000,0.96,0.96 newton-cg
 10000.00000,0.96,0.96 lbfgs
 10000.00000,0.96,0.96 liblinear
 10000.00000,0.91,0.91 sag
 10000.00000,0.91,0.91 saga

In [29]:
LR = LogisticRegression(C=10, solver='liblinear')
LR.fit(XT,YT)
yp = LR.predict(Xt)
print(classification_report(yp, Yt))
matrix = confusion_matrix(yp, Yt)
sns.heatmap(matrix)
print(matrix)

              precision    recall  f1-score   support

           0       1.00      0.96      0.98      1398
           1       0.66      0.95      0.78       102

    accuracy                           0.96      1500
   macro avg       0.83      0.96      0.88      1500
weighted avg       0.97      0.96      0.97      1500

[[1349   49]
 [   5   97]]

In [ ]:
!pip install yellowbrick

Requirement already satisfied: yellowbrick in /usr/local/lib/python3.6/dist-packages (0.9.1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (1.18.5)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (1.4.1)
Requirement already satisfied: matplotlib!=3.0.0,>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (3.2.2)
Requirement already satisfied: cycler>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (0.10.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->yellowbrick) (0.16.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=1.5.1->yellowbrick) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=1.5.1->yellowbrick) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=1.5.1->yellowbrick) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10.0->yellowbrick) (1.15.0)

In [35]:
from yellowbrick.classifier import ClassificationReport
viz = ClassificationReport(LR)
viz.fit(XT, YT)
viz.score(Xt, Yt)

0.964

In [33]:
from yellowbrick.classifier import ROCAUC
viz = ROCAUC(LR)
viz.fit(XT, YT)
viz.score(Xt, Yt)
#viz.show()

0.964

In [36]:
LR.get_params

<bound method BaseEstimator.get_params of LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)>

In [ ]:
import statsmodels.api as sm
X2 = sm.add_constant(Xt)
regressor2 = sm.Logit(Yt, X2).fit()
print("p-values for each column:")
print()
print(regressor2.pvalues)

Optimization terminated successfully.
         Current function value: 0.124208
         Iterations 9
p-values for each column:

const                1.00
Age                  0.26
Experience           0.22
Income               0.00
Family               0.00
CCAvg                0.00
Mortgage             0.22
Securities Account   0.07
CD Account           0.00
Online               0.05
CreditCard           0.00
Education_1          1.00
Education_2          1.00
Education_3          1.00
dtype: float64

In [ ]:
pd.DataFrame(LR.predict_proba(Xt))

In [66]:
Algo = []
tr = []
te = []
recall = []
roc = []

In [67]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import recall_score, precision_score, roc_auc_score
model = LogisticRegression()
model.fit(XT,YT)
YP = model.predict(Xt)
Algo.append('Logistic Regression')
tr.append(model.score(XT,YT))
te.append(model.score(Xt,Yt))
recall.append(recall_score(YP,Yt))
roc.append(roc_auc_score(YP, Yt))

In [68]:
model2 = SVC(kernel = 'linear')
model2.fit(XT,YT)
YP = model2.predict(Xt)
Algo.append('Logistic Regression')
tr.append(model2.score(XT,YT))
te.append(model2.score(Xt,Yt))
recall.append(recall_score(YP,Yt))
roc.append(roc_auc_score(YP, Yt))

In [69]:
from sklearn.tree import DecisionTreeClassifier

In [70]:
model_dt = DecisionTreeClassifier(criterion="entropy")
model_dt.fit(XT,YT)
YP_dt = model_dt.predict(Xt)
print(model_dt.score(XT, YT))
print(model_dt.score(Xt,Yt))

1.0
0.9886666666666667

In [71]:
model_pruned = DecisionTreeClassifier(criterion="entropy", max_depth = 3, random_state = 11)

In [72]:
model_pruned.fit(XT,YT)
YP_dt = model_pruned.predict(Xt)
print(model_pruned.score(XT, YT))
print(model_pruned.score(Xt,Yt))

0.9785714285714285
0.9826666666666667

In [73]:
fc = XT.columns
fi = model_pruned.tree_.compute_feature_importances(normalize=False)
fi_dict = dict(zip(fc,model_pruned.feature_importances_))
fimp = pd.DataFrame.from_dict(fi_dict, orient='index')
fimp.sort_values(by=0, ascending=False)[0:10]

                      0
Income             0.55
Education_1        0.21
Family             0.14
CCAvg              0.09
CD Account         0.01
Age                0.00
Experience         0.00
Mortgage           0.00
Securities Account 0.00
Online             0.00

In [74]:
#Decision Tree using Entropy
model = DecisionTreeClassifier(criterion="entropy", max_depth=3, min_samples_leaf=5)
model.fit(XT,YT)
YP = model.predict(Xt)
Algo.append('Decision Tree Classifier:Entropy')
tr.append(model.score(XT,YT))
te.append(model.score(Xt,Yt))
recall.append(recall_score(YP,Yt))
roc.append(roc_auc_score(YP, Yt))

In [75]:
#Decision Tree using GINI
model = DecisionTreeClassifier(criterion="gini", max_depth=3, min_samples_leaf=5)
model.fit(XT,YT)
YP = model.predict(Xt)
Algo.append('Decision Tree Classifier: GINI')
tr.append(model.score(XT,YT))
te.append(model.score(Xt,Yt))
recall.append(recall_score(YP,Yt))
roc.append(roc_auc_score(YP, Yt))

In [76]:
#Random Tree using GINI
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50,random_state=11)
model.fit(XT,YT)
YP = model.predict(Xt)
Algo.append('Random Forest')
tr.append(model.score(XT,YT))
te.append(model.score(Xt,Yt))
recall.append(recall_score(YP,Yt))
roc.append(roc_auc_score(YP, Yt))

In [77]:
from sklearn.ensemble import BaggingClassifier
model = RandomForestClassifier(n_estimators=100, max_samples = 0.7, bootstrap=True, oob_score=True,random_state=11)
model.fit(XT,YT)
YP = model.predict(Xt)
Algo.append('Bagging Classifier')
tr.append(model.score(XT,YT))
te.append(model.score(Xt,Yt))
recall.append(recall_score(YP,Yt))
roc.append(roc_auc_score(YP, Yt))

In [78]:
#Adaptive Boosting
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier(n_estimators=200, learning_rate = 0.1,random_state=11)
model.fit(XT,YT)
YP = model.predict(Xt)
Algo.append('AdaBoost Classifier')
tr.append(model.score(XT,YT))
te.append(model.score(Xt,Yt))
recall.append(recall_score(YP,Yt))
roc.append(roc_auc_score(YP, Yt))

In [79]:
#Adaptive Boosting
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier(n_estimators=200,random_state=11)
model.fit(XT,YT)
YP = model.predict(Xt)
Algo.append('Gradient Classifier')
tr.append(model.score(XT,YT))
te.append(model.score(Xt,Yt))
recall.append(recall_score(YP,Yt))
roc.append(roc_auc_score(YP, Yt))

In [80]:
results = pd.DataFrame()
results['Model'] = Algo
results['Training Acc'] = tr
results['Test Acc'] = te
results['Recall'] = recall
results['Roc auc '] = roc
results = results.set_index('Model')
results

                                Training Acc  Test Acc  Recall  Roc auc
Model
Logistic Regression                     0.96      0.96    0.92      0.94
Logistic Regression                     0.96      0.96    0.96      0.96
Decision Tree Classifier                0.98      0.98    0.96      0.97
Decision Tree Classifier: GINI          0.98      0.99    0.98      0.99
Random Forest                           1.00      0.99    1.00      0.99
Bagging Classifier                      1.00      0.99    0.99      0.99
AdaBoost Classifier                     0.97      0.97    0.96      0.97
Gradient Classifier                     1.00      0.99    0.97      0.98

In [ ]:
#Random Forest is found to be the better model of the rest